.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin: 10px 0;
    font-weight: bold;
}

.button {
    margin-bottom: 10px
}

.wally {
    width: 100%;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.head {
    position: absolute;
    width: 12px;
    cursor: pointer;
}

.highlighted {
    box-shadow: 0 0 16px 8px #ff00fe;
    box-sizing: border-box;
    background-color: #ff00fe;
}

.head1 {
    left: 303px;
    top: 325px;
}

.head2 {
    left: 409px;
    top: 657px;
}

.dani {
    left: 645px;
    top: 864px;
    height: 15px;
    width: auto;
}

.daniel {
    left: 1016px;
    top: 917px;
    width: auto;
    height: 18px;
}

.elle {
    left: 626px;
    top: 453px;
}

.ivo {
    left: 546px;
    top: 285px;
}

.joe {
    left: 219px;
    top: 957px;
}

.justine {
    left: 530px;
    top: 475px;
    height: 15px;
    width: auto;
}

.michael {
    left: 923px;
    top: 524px;
}

.miron {
    left: 232px;
    top: 677px;
}

.nikita {
    left: 1402px;
    top: 708px;
    height: 14px;
    width: auto;
}

.paul {
    left: 908px;
    top: 276px;
    transform: rotate(-23deg);
}

.teri {
    left: 719px;
    top: 652px;
}

.tilman {
    left: 1245px;
    top: 540px;
}

.vlad {
    left: 1108px;
    top: 730px;
}

.bigHead {
    display: block;
    margin: 0 auto;
    height: 25%;
    padding: 5% 0;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1vh;
}

.role {
    margin-bottom: 5vh;
}

.fact {
    font-style: italic;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalInner {
    position: absolute;
    top: 5%;
    left: 15%;
    background-color: white;
    width: 70%;
    height: 80%;
    font-size: 3vh;
    padding: 2em;
}

@media only screen and (max-device-width: 900px) {
    .modalInner {
        font-size: 6vh;
    }
}

@media only screen and (max-device-width: 900px) and (orientation: portrait) {
    .modalInner {
        height: 30%;
    }
}

.visible {
    display: block !important;
}