.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin: 10px 0;
    font-weight: bold;
}

.button {
    margin-bottom: 10px
}

.wally {
    width: 100%;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.head {
    position: absolute;
    width: 12px;
    cursor: pointer;
}

.highlighted {
    box-shadow: 0 0 16px 8px #ff00fe;
    box-sizing: border-box;
}

.head1 {
    left: 303px;
    top: 325px;
}

.head2 {
    left: 409px;
    top: 657px;
}

.dani {
    left: 645px;
    top: 868px;
}

.daniel {
    left: 0px;
    top: 0px;
}

.elle {
    left: 0px;
    top: 0px;
}

.ivo {
    left: 0px;
    top: 0px;
}

.joe {
    left: 0px;
    top: 0px;
}

.justine {
    left: 0px;
    top: 0px;
}

.nikita {
    left: 0px;
    top: 0px;
}

.michael {
    left: 0px;
    top: 0px;
}

.miron {
    left: 232px;
    top: 681px;
}

.paul {
    left: 0px;
    top: 0px;
}

.teri {
    left: 0px;
    top: 0px;
}

.tilman {
    left: 0px;
    top: 0px;
}

.vlad {
    left: 0px;
    top: 0px;
}

.bigHead {
    display: block;
    margin: 0 auto;
    height: 25%;
    padding: 5% 0;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1vh;
}

.role {
    margin-bottom: 5vh;
}

.fact {
    font-style: italic;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalInner {
    position: absolute;
    top: 5%;
    left: 15%;
    background-color: white;
    width: 70%;
    height: 80%;
    font-size: 3vh;
}

@media only screen and (max-device-width: 900px) {
    .modalInner {
        font-size: 6vh;
    }
}

@media only screen and (max-device-width: 900px) and (orientation: portrait) {
    .modalInner {
        height: 30%;
    }
}

.visible {
    display: block !important;
}