.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin: 10px 0;
    font-weight: bold;
}

.button {
    margin-bottom: 10px
}

.wally {
    width: 100%;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    position: absolute;
    width: 12px;
    cursor: pointer;
}

.highlighted {
    box-shadow: 0 0 8px 5px purple;
    box-sizing: border-box;
}

.head1 {
    left: 303px;
    top: 325px;
}

.head2 {
    left: 409px;
    top: 657px;
}

.bigHead {
    display: block;
    margin: 0 auto;
    height: 25vh;
    padding: 5vh 0;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1vh;
}

.role {
    margin-bottom: 5vh;
}

.fact {
    font-style: italic;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalInner {
    background-color: white;
    width: 70vw;
    height: 80vh;
    margin: 5vh 15vw;
    font-size: 3vh;
}

.visible {
    display: block !important;
}